.box 
    .columns.is-vcentered
        .column.is-hidden-touch
            img(src="http://placehold.it/300x200")
        .column.is-7
            span.tag.is-danger.is-rounded nouveauté
            p.is-size-3 Nouvel iTelephone 13
            p.is-size-1.mb-4.has-text-primary 199€99
            p.is-size-7.has-text-grey *uniquement pour les clients n'ayant jamais eu de téléphone de leur vie
        .column.is-2
            a.button.is-primary(href="#") J'en profite