- var i = 0

nav.navbar
    .container
        a.navbar-burger(role="button" aria-label="menu" aria-expended="false" data-target="navbarMain")
            while i < 3
                span(aria-hidden)
                - i++
        #navbarMain.navbar-menu 
            .navbar-start 
                for navbar in navbars
                    a.navbar-item(href=navbar.href title=navbar.title)= navbar.content
            .navbar-end 
                .navbar-item 
                    .buttons 
                        a.button.is-light S'enregistrer
                        a.button.is-primary Se connecter