//-use of existing script.js in public folder for navbar-burger 
.container
    section.section
        .navbar
            .navbar-brand 
                a.navbar-burger(role="button", aria-label="menu", data-target="navbar-menu", aria-expanded="false")
                    each val in [1, 2, 3]
                        span
                    //- add this loop for the design of the burger with 3 lines
            .navbar-menu(id="navbar-menu")
                ul.navbar-start
                    for navbar in navbars 
                        li(title=navbar.title)
                            a.navbar-item(href=navbar.href)= navbar.content
                        
                .navbar-end
                    .navbar-item
                        .buttons
                            a.button.is-light(href="#") S'enregistrer 
                            a.button.is-primary(href="#") Se connecter